<?xml version="1.0" encoding="utf-8" ?>
<AutoVersion>
  <!-- See http://semver.org/ for more information -->
  <SemVer>
    <!-- Must Be Incremented on Breaking Changes Only -->
    <Major>0</Major>
    <!-- Must Be Incremented on New Features Only -->
    <Minor>2</Minor>
    <!-- Must Be Incremented on Bug Fixes / Dependency Updates Only -->
    <Patch>0</Patch>
    <!-- Optional Alpha Numeric string for pre-releases, can also contain dashes -->
    <PreRelease></PreRelease>
  </SemVer>
  <Metadata>
    <Company>WSOL</Company>
    <Description>WSOL object renderer is a framework that allows for tagging of views for objects.</Description>
    <CopyrightInfo></CopyrightInfo>
    <GUID></GUID>
    <CodeLanguage>CS</CodeLanguage>
    <OutputFile>GeneratedAssemblyInfo.cs</OutputFile>
    <ComVisible>false</ComVisible>
    <GenerateClass>false</GenerateClass>
    <ComputerInfoEnable>false</ComputerInfoEnable>
    <GitTagEnable>false</GitTagEnable>
    <GitBranchEnable>false</GitBranchEnable>
    <!-- by default these stay at 1.0.0 to avoid assembly redirects -->
    <UpdateAssemblyVersion>false</UpdateAssemblyVersion>
    <UpdateAssemblyFileVersion>false</UpdateAssemblyFileVersion>
    <!-- Use NonStandard Versioning of (Major.Year.MMdd.HHmm)-->
    <UseNonStandardVersioning>false</UseNonStandardVersioning>
  </Metadata>
  <notes>    
    <note date="yyyyMMdd" author="bmcdavid" build="1.0.0">
      <![CDATA[Add notes here for any specific release]]>
    </note>
  </notes>
</AutoVersion>